go 1.25.0

use (
	./internal/config
	./internal/database
	./internal/kafka
	./internal/log
	./internal/redis
	./services/accesshttp
	./services/accessws
	./services/alertcenter
	./services/marketprice
	./services/matchengine
	./services/readhistory
)
